<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>支出編集</title>
    <link rel="stylesheet" href="/styles-editc.css">
  </head>
  <body>
    <header>
      <h1>支出編集</h1>
      <nav>
        <a href="/">トップ</a> |
        <a href="/register">登録ページ</a>
      </nav>
    </header>
    <main>
      <form action="/edit-comecome/<%= comecome.id %>" method="POST">
        <br>
        <label for="date">日付:</label>
        <input type="date" name="date" id="date" value="<%= comecome.date %>" required>
        <br>
        <label for="type">種類:</label>
        <select name="type" id="type" required>
          <option value="credit-card" <%= comecome.type === 'credit-card' ? 'selected' : '' %>>お小遣い</option>
          <option value="recurring" <%= comecome.type === 'recurring' ? 'selected' : '' %>>バイト</option>
        </select>
        <br>
        <label for="amount">金額:</label>
        <input type="number" name="amount" placeholder="金額を入力" step="0.01" value="<%= comecome.amount %>" required>
        <br>
        <label for="description">説明:</label>
        <input type="text" name="description" placeholder="説明（任意）" value="<%= comecome.description %>">
        <br>
        <button type="submit">更新</button>
      </form>
    </main>
  </body>
</html>
